@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020103;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020103;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
